@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-0 {
    transform: rotateY(0deg);
  }
  .rotate-y-180 {
    transform: rotateY(-180deg);
  }
}
